a{
    color: #000000;
}
.header>ul{
    text-align: center;
    border:1px solid #dbdbdb;
    border-left:none;
    border-right:none;
    height: 50px;
    line-height: 50px;
}
.header>ul li:not(:first-child){
    border-left: 1px solid #c0c0c0;
}
.header>ul li{
    padding:0 15px;
}
/*中间内容区*/
.row>.one{
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #dbdbdb;
}
.row>.one span{
    float: right;
    height: 20px;
    width: 20px;
    margin-top: 5px;
    margin-right: 20px;
    border:1px solid #c0c0c0;
}
.login{
    background: #00ae66;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
}