*{margin: 0;padding: 0}
a{text-decoration: none;color:white;cursor: pointer}
ul li{list-style: none;}
/*导航*/
nav{
    height: 100px;
    background: #799dc1;
    overflow: hidden;
}
nav img:first-child{
    float: left;
    width: 250px;
    height: 80px;
    margin-left: 70px;
}
nav ul li{
    display: inline-block;
    margin-left: 80px;
    line-height: 100px;
}
nav ul li a:hover{
    color: #000000;
    background: #baffe0;
}
a :only-child{
    width: 15px;
    height: 5px;
    background: red;
}
nav ul li a{
    font-size: 28px;
}
.right_menu{
    float: right;
    margin-top: -80px;
    margin-right:60px ;
}
.right_menu .one_img{
    float: left;
    margin-right: 300px;
    width: 140px;
    height: 50px;
}
.right_menu img{
    width: 40px;
    height: 20px;
}
.right_menu input{
    border: none;
    background: #799dc1;
    color:white;
    font-size: 26px;
}
/*广告*/
header img{
    width:100%;
    height: 1000px;
}
/*内容1*/
ul[name=con_first]{
    background: #f5f5f5;
    height: 600px;
    text-align: center;
}
ul[name=con_first]>li{
    display: inline-block;
    padding: 10px;
}
ul[name=con_first]>li>div{
    background: #ffffff;
    margin-top: 30px;
    width: 360px;
    height: 500px;
    border: 1px solid #cccccc;
    color: #bfbfb8;
    font-size: 24px;
}
ul[name=con_first]>li>div>img{
    margin-top: 10px;
    width: 330px;
    height: 340px;
}
ul[name=con_first]>li>div>span{
    color: #000000;
    margin-right: 250px;
}
ul[name=con_first]>li>div>div{
    width: 340px;
    margin-left: 15px;
    text-align: left;
}
ul[name=con_first]>li>img{
    width: 50px;
    height: 100px;
    margin-bottom: 170px;
}
/*内容2*/
.two_con{
    margin:0 auto;
    margin-top: 40px;
    width: 1930px;
    height: 560px;
}
.two_con :first-child{
    width: 500px;
    height: 520px;
}
.two_con>div{
    float: right;
    width: 1330px;
}
span.zt{
    color: #333333;
    font-weight: bold;
    font-size: 36px;
}
div[name=con]{
    margin-top: 30px;
    color: #333333;
    font-size: 28px;
    line-height: 80px;
    word-break: keep-all;
}
.two_con>div>img{
    width: 1330px;
    height: 260px;
    margin-top: 30px;
}
.clear{clear: none}
/*内容3*/
.three_con{
    height: 600px;
    background:#f5f5f5 ;
    overflow: hidden;
}
.three_con>div{
    padding-top:50px;
    margin: 0 auto;
    width: 1930px;
    height: 500px;
    line-height: 50px;
}
.three_left_con{
    width: 1200px;
    float: left;
}
.three_left_con>img{
    width: 550px;
    height: 150px;
    margin-top: 30px;
}
.three_con .last_img{
    margin-left: 1380px;
    width: 550px;
    height: 500px;
    margin-top: -450px;
}
/*内容3*/
.last_con{
    margin: auto;
    width: 1500px;
    height: 600px;
    text-align: center;
    margin-top: 30px;
}
.last_con>img{
    width: 1500px;
    height: 400px;
    margin-top: 10px;
}
/*底部*/
div.big{
    margin-top: 140px;
    height: 800px;
    background: #343c3f;
    overflow: hidden;
}
div.two_big{
    margin-top: -30px;
    width: 1930px;
    height: 620px;
    border-bottom: 2px solid #5d6467;
    margin: auto;
}
div.div_left{
    float: left;
    width: 600px;
    padding-top: 60px;
    padding-left: 100px;
}
div.div_left :first-child{
    width: 220px;
    height: 100px;
}
div.div_left :nth-child(2){
    font-size: 26px;
    color: white;
    margin-top: 20px;
}
div.div_left :last-child{
    width: 400px;
    height: 100px;
    margin-top: 40px;
}
div.div_right{
    margin-left: 800px;
    padding-top: 60px;
    font-size: 28px;
}
div.div_right ul{
    display: inline-block;
    height: 200px;
    padding-left: 160px;
    vertical-align: top;
}
div.div_right ul li{
    line-height: 60px;
}
div.footer{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
}

